* {
    background-color: black;
}
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.title-page {
    background-color: black;
    color: ivory;
    width: 100%;
    height: 100%;
    
}
.title-text {
    color: ivory;
}
.disclaimer-btn-t {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
}

.disclaimer {
    background-color: black;
    height: 100%;
    width: 100%;
}
.disclaimer-text {
    color: ivory;
    width: 100%;
    height: 100%;
}
.disclaimer-links {
    color:black;
}
.title-btn-d {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
}
.main-btn-d{
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
    }
.credits-btn-d {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
    }

.grid-container {
    background-color:black;
    display: grid;
}
.text-box{
    background-color: black;
    color: ivory;
    justify-self: start;
    height:fit-content;
    width: 50%;
}
.illustration {
}
.my-image {
    width: 50%;
    height: 100%;
}
.main-links {
    background-color: black;
    width: 50%;
    height: fit-content

}
.credits-btn-m {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
}
.js-links {
}        
        
.credits {

}
.credits-text {
    color: ivory;
}
.kate-text {
    background-color:black;
    color: ivory;
}
.mads-text {
    background-color:black;
    color: ivory;
}
.credits-links {
    background-color: black;
}
.main-btn-c {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
}
.title-btn-c {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
}