* {
    background-color: black;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}
body {
    background-color: black;
}
.title-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;
}
.title-img {
    width: 98.5vw;
    height: 98vh;
    filter: contrast(60%);
}
.title-text {
    background: none;
    color: ivory;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 6.5vw;
    position: absolute;
    margin-left: 3.2vw;
    bottom: 6.5vw;
}
.t-text {
    background: transparent;
}
.title-links {
    width: 100vw;
    height: 100vh;
    float: right;
}
.disclaimer-btn-t {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
    border-width: .3vw;
    border-radius: .6vw;
    font-size: 3.2vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 4.8vw;
    bottom: 4.8vw;
}
.disclaimer-btn-t:hover {
    text-shadow: 0.3vw 0.3vw 0.5vw #ff00A6;
    box-shadow: 0 0 1.3vw #ff00A6; 
}

.disclaimer {
    height: 100vh;
    width: 100vw;
}
.disclaimer-img {
    width: 98.5vw;
    height: 98vh;
    filter: contrast(40%)
}
.disclaimer-text {
    background: transparent;
    color: white;
    font-size: 4vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    padding: 1.6vw;
    top: 1.6vw;
   
}
.disclaimer-links {
    background: transparent;
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    justify-content: space-around;
}
.title-btn-d {
    color: #ff00A6;
    background: transparent;
    border-color: #ff00A6;
    border-radius: 0.5vw;
    border-width: 0.3vw;
    font-size: 2.6vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.title-btn-d:hover {
    text-shadow: 0.2vw 0.2vw 0.4vw #ff00A6;
    box-shadow: 0 0 0.9vw #ff00A6;
}

.main-btn-d {
    color: #ff00A6;
    background: transparent;
    border-color: #ff00A6;
    border-radius: 0.5vw;
    border-width: 0.3vw;
    font-size: 2.6vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.main-btn-d:hover {
    text-shadow: 0.2vw 0.2vw 0.4vw #ff00A6;
    box-shadow: 0 0 0.9vw #ff00A6;
}
.credits-btn-d {
    color: #ff00A6;
    background: transparent;
    border-color: #ff00A6;
    border-radius: 0.5vw;
    border-width: 0.3vw;
    font-size: 2.6vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.credits-btn-d:hover {
    text-shadow: 0.2vw 0.2vw 0.4vw #ff00A6;
    box-shadow: 0 0 0.9vw #ff00A6;
}

.main-body {
    background-color:black;
   height:100vh;
   width:100vw;
   position: relative;
   display: flex;

}
.text-links {
    width: 59vw;
    height:100vh;
    float: left;
    position: relative;
    margin: 1.6vw;
    justify-content: space-between;  
}
.text-box{
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background-color: black;
    color: ivory;
    width: 100%;
    height: 85vh;
    text-align: center;
    font-size: auto;
    position: relative;
   font-size: 1.5vw;
}
.main-links {
    background-color: none;
    width: 100%;
    position: absolute;
    bottom: 4.8vw;
}
.credits-btn-m {
    color: #ff00A6;
    background-color: none;
    border-color: #ff00A6;
    float: left;
    border-radius: 0.4vw;
    border-width: 0.2vw;
    font-size: 1.9vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.credits-btn-m:hover {
    text-shadow: 0.2vw 0.2vw 0.4vw #ff00A6;
    box-shadow: 0 0 0.5vw #ff00A6; 
}
.js-links {
    background-color: none;
    position: absolute;
    bottom: 4.8vw;
    justify-content: space-between;
    right: 0vw;
}
.image-box {
  height: 100vw;
  width: 100%;
}
        
.credits {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 1vw;
    
}
.credits-text {
    color: ivory;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
}
.kate-bio{
    justify-content: space-between;
}

.kate-img {
    height: 14.6484375vw;
    width: 9.765625vw;
    position: relative;
}

.kate-text {
    background-color:black;
    color: ivory;
    right: 1.6vw;
    top: 1.6vw;
    width: 80vw;
    position: relative;
    float: right;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    text-transform: uppercase;
}
.kate-links {
    display: inline;
}
.mads-bio{
    justify-content: space-between;
}
.mads-img {
    height: 14.6484375vw;
    width: 9.765625vw;
    position: relative;

}
.mads-text {
    background-color:black;
    color: ivory;
    right: 1.6vw;
    top: 1.6vw;
    width: 80vw;
    position: relative;
    float: right;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    text-transform: uppercase;
}
a:link {
    color: #ff00A6;
    background-color: transparent;
    text-decoration: none;
}
a:link:hover {
    text-shadow: 0.1vw 0.1vw 0.3vw #ff00A6;
}
.credits-links {
    background-color: black;
    position: relative;
    float: right;
    bottom: 13vh;
    font-size: 3vw;
}

.main-btn-c {
    color: #ff00A6;
    background-color: none;
    border-color: #ff00A6;
    border-radius: 0.3vw;
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    width: fit-content;
    height: fit-content;

}
.main-btn-c:hover {
    text-shadow: 0.1vw 0.1vw 0.3vw #ff00A6;
    box-shadow: 0 0 0.5vw #ff00A6; 
}
.title-btn-c {
    color: #ff00A6;
    background-color: none;
    border-color: #ff00A6;
    border-radius: 0.3vw;
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    width: fit-content;
    height: fit-content;
}
.title-btn-c:hover {
    text-shadow: 0.1vw 0.1vw 0.3vw #ff00A6;
    box-shadow: 0 0 0.5vw #ff00A6; 
}
@media screen and (max-width: 1024px) {
    .text-links {
        width: 55vw;
        height:100vh;
    }
    .main-btn-c {
        bottom: 1.6vw;
        right: 1.6vw;
    }
    .title-btn-c {
        bottom: 1.6vw;
        right: 1.6vw;
    }
}
@media  screen and (max-width: 540px) {
    body {
        display: none;
    }
}
@media screen and (max-width: 854) {
    .title-text {
        font-size: 5vw;
    }
    .disclaimer-btn-t {
        font-size: 2vw;
        right: 0px;
        bottom: 0px;
        padding: 0.06vw 0.3vw;
    }
    .text-box {
        font-size: 1vw;
    }
    .disclaimer-links {
        bottom: 0px;
        right: 0px;
    }
    .title-btn-d {
        font-size: 2vw;
    }
    .main-btn-d {
        font-size: 2vw;
    }
    .credits-btn-d {
        font-size: 2vw;
    }
}