* {
    background-color: black;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}
body {
    background-color: black;
}

.title-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;
}
.title-img {
    width: 98.5vw;
    height: 98vh;
    filter: contrast(60%);
}
.title-text {
    background: none;
    color: ivory;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 6.5vw;
    position: absolute;
    left: 50px;
    bottom: 100px;
}
.t-text {
    background: transparent;
}
.title-links {
    width: 100vw;
    height: 100vh;
    float: right;
}
.disclaimer-btn-t {
    color: #ff00A6;
    background-color: transparent;
    border-color: #ff00A6;
    border-width: 5px;
    border-radius: 10px;
    font-size: 50px;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 75px;
    bottom: 75px;
}
.disclaimer-btn-t:hover {
    text-shadow: 5px 5px 8px #ff00A6;
    box-shadow: 0 0 20px #ff00A6; 
}

.disclaimer {
    height: 100vh;
    width: 100vw;
}
.disclaimer-img {
    width: 98.5vw;
    height: 98vh;
    filter: contrast(40%)
}
.disclaimer-text {
    background: transparent;
    color: white;
    font-size: 4vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    padding: 25px;
    top: 25px
   
}
.disclaimer-links {
    background: transparent;
    position: absolute;
    bottom: 50px;
    right: 50px;
    justify-content: space-around;
}
.title-btn-d {
    color: #ff00A6;
    background: transparent;
    border-color: #ff00A6;
    border-radius: 7px;
    border-width: 4px;
    font-size: 40px;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.title-btn-d:hover {
    text-shadow: 4px 4px 7px #ff00A6;
    box-shadow: 0 0 15px #ff00A6;  
}
.main-btn-d{
    color: #ff00A6;
    background: transparent;
    border-color: #ff00A6;
    border-radius: 7px;
    border-width: 4px;
    font-size: 40px;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.main-btn-d:hover {
    text-shadow: 4px 4px 7px #ff00A6;
    box-shadow: 0 0 15px #ff00A6;
}
.credits-btn-d {
    color: #ff00A6;
    background: transparent;
    border-color: #ff00A6;
    border-radius: 7px;
    border-width: 4px;
    font-size: 40px;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.credits-btn-d:hover {
    text-shadow: 4px 4px 7px #ff00A6;
    box-shadow: 0 0 15px #ff00A6;
}
.main-body {
    background-color:black;
   height:100vh;
   width:100vw;
   position: relative;
   display: flex;

}
.text-links {
    width: 59vw;
    height:100vh;
    float: left;
    position: relative;
    margin: 25px;
    justify-content: space-around;  
}
.text-box{
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background-color: black;
    color: ivory;
    width: 100%;
    height: 85vh;
    text-align: center;
    font-size: auto;
    position: relative;
   font-size: 1.8vw;
}
.main-links {
    background-color: none;
    width: 100%;
    position: absolute;
    bottom: 75px;
    left: 0px;
}
.credits-btn-m {
    color: #ff00A6;
    background-color: none;
    border-color: #ff00A6;
    float: left;
    border-radius: 6px;
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}
.credits-btn-m:hover {
    text-shadow: 3px 3px 7px #ff00A6;
    box-shadow: 0 0 9px #ff00A6; 
}
.js-links {
    background-color: none;
    position: absolute;
    bottom: 75px;
    right: 0px;
}
.image-box {
  height: 100vw;
  width: 100%;
}
        
.credits {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 15px
    
}
.credits-text {
    color: ivory;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 5.96vh;
    text-transform: uppercase;
}
.kate-bio{
    justify-content: space-between;
}

.kate-img {
    height: 225px;
    width: 150px;
    position: relative;
}

.kate-text {
    background-color:black;
    color: ivory;
    right: 25px;
    top: 25px;
    width: 80vw;
    position: relative;
    float: right;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 5.96vh;
    text-transform: uppercase;
}
.kate-links {
    display: inline;
}
.mads-bio{
    justify-content: space-between;
}
.mads-img {
    height: 225px;
    width: 150px;
    position: relative;

}
.mads-text {
    background-color:black;
    color: ivory;
    width: 80vw;
    right: 25px;
    position: relative;
    float: right;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 5.96vh;
    text-transform: uppercase;
}
a:link {
    color: #ff00A6;
    background-color: transparent;
    text-decoration: none;
}
a:link:hover {
    text-shadow: 2px 2px 5px #ff00A6;
}
.credits-links {
    background-color: black;
    padding: 50px;
    position: relative;
    float: right;
    bottom: 50px;
}

.main-btn-c {
    color: #ff00A6;
    background-color: none;
    border-color: #ff00A6;
    border-radius: 5px;
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    width: fit-content;
    height: fit-content;

}
.main-btn-c:hover {
    text-shadow: 2px 2px 5px #ff00A6;
    box-shadow: 0 0 8px #ff00A6; 
}
.title-btn-c {
    color: #ff00A6;
    background-color: none;
    border-color: #ff00A6;
    border-radius: 5px;
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    width: fit-content;
    height: fit-content;
}
.title-btn-c:hover {
    text-shadow: 2px 2px 5px #ff00A6;
    box-shadow: 0 0 8px #ff00A6; 
}

@media screen and (max-width: 1365px) {
    .text-links {
        width: 59vw;
        height:100vh;
    }
    .credits-text {
        font-size: 25px;
    }
}